# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
out/

# Debug and Release folders
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Logs and temp files
*.log
*.tmp
*.db
*.pdb
*.dll

# Other common stuff
node_modules/
wwwroot/lib/
.env
